body{
    font-family: 'Roboto', Open Sans, Lato;
    color: #1b3c53;
    background-color: #eeeeee;
    line-height: 25px;
}

header h1{
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 8px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    box-shadow: #777c6d;
    background-color: #1b3c53;
    color: #eeeeee;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #1b3c53;
    margin-bottom: 16px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav a{
    color: #234c6a;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: verdana;
    list-style: none;
    display: inline;
    justify-content: space-between;
    align-items: center;

}

nav a:hover {
    color: #456882;
    text-decoration: solid;
    padding: 20px;
}

footer{
    background-color: #1b3c53;
    margin-top: auto;
    padding: 8px;
    text-align: center;
    position:fixed;
    color: #eeeeee;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
section{
    padding: 42px;
    margin: auto;
    line-height: 25px;
    border: 3px ridge;
    border-radius: 2px;
    border-color: #1b3c53;
}
.gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
}
.project {
    background-color:#c7d0b4;
    border: 2px solid;
    border-color: #456882;
    border-radius: 8px;
    padding: 20px;
    box-shadow: #1b3c53;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow:#eeeeee;
}
.project h3 {
    font-size: 25px;
    text-align: center;
}
.detail-btn {
    padding: 5px 5px;
    border: 1px solid;
    border-color: #234c6a;
    border-radius: 7px;
    background-color:#eeeeee;
    cursor: pointer;
    font-size: 13px;
}
.detail-btn:hover {
background-color:#234c6a;
font-style: normal;
color: #eeeeee;
}
.detail {
    display: none;
    margin-top: 10px;
    line-height: 1.4px;
    font-size: 16px;
}
.center {
    justify-content: center;
    justify-items: center;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}
#darkmode-toggle {
    padding: 8px 16px;
    border: none;
    background-color: #234c6a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

body.dark-mode #darkmode-toggle {
    background: #eeeeee;
    color: #1b3c53;
}
#darkmode-toggle:hover {
    background-color: #456882;
}

@media (max-width: 480px) {
    header {
        font-size: 10px;
    }
    body {
        display: block;
    }
}
@media (max-width: 786px) {
    header {
        font-size: 20px;
    }
    body {
        display: block;
    }
}